/* On regular sized devices (laptops, desktops), the element with id="navbar" should be shown on the left side of the screen and should always be visible to the user.

My Technical Documentation page should use at least one media query.*/
/* Navigation bar CSS */ 

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  border-right: dashed 2px rgba(0, 22, 22, 0.4);
  
}

#navbar header {
  margin: 15px;
  color: black;
  font-size: 1.8em;
  
  
}

a .nav-link, a{
  font-size: 1.2em;
  text-decoration: none;
  color: #106d9b;
  text-align: left;
  clear: both;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-top: dashed 2px rgba(0, 22, 22, 0.4);
}

nav>a:nth-child(7) {
  border-bottom: dashed 2px rgba(0, 22, 22, 0.4);
}

#navbar img {
  
  height: 50px;
  width: 50px;
  float: left;
  
}

/* BODY CSS */
body {
  font-family: 'Open Sans', Arial, sans-serif;;
}

#main-doc {
  display: block;
  padding: 20px;
  margin-left: 280px;
  margin-bottom: 30px;
  margin-right: auto;
}

section{
  display: block;
}

#main-doc header {
  text-align: left;
  margin: 0;
  color: black;
  font-size: 1.8em;
}

section article {
  margin: 25px;
}

#main-doc p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

#main-doc code{
  display: block;
  margin: 10px;
  padding: 8px;
  border: none;
  position: relative;
  background-color: #eee;
  color: rgb(155, 99, 192);
  word-wrap: normal;
  word-break: normal;
  white-space: pre-line;
  line-height: 2;
  width: 60%;
}
img {
  display: block;
  margin: 10px;
  text-align: center;
  
}

/*MEDIA QUERIES  */

@media only screen and (max-width: 815px) {
  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #navbar header {
    margin: 15px;
    color: black;
    font-size: 1.8em;
    text-align: center;
    
    
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }

  nav>a:nth-child(7) {
    border-bottom: dashed 2px rgba(0, 22, 22, 0.4);
  }

}

